.bg-logo {
    background-color: #2a324b;
}

.modal-content {
    background-color: #292b2c;
    color: white;
}

.bg-signinup {
    height: 100%;
    background-color: #323232;
}

.logo-medi {
    width: 400px;
    height: 400px;
}

.logo-google {
    height: 3em;
}

.logo-facebook {
    height: 3em;
}

.loginPage {
    height: 100%;
    max-width: 100%;
}

.loginForm {
    width: 25em;
}

.registerPage {
    height: 100%;
    max-width: 100%;
}

.registerForm {
    width: 25em;
}

.carousel-review {
    width: 350px;
}


.bg-carousel {
    background: linear-gradient(135deg, rgba(50,50,48,1) 0%, rgba(50,50,48,1) 60%, rgba(235,62,55,0.6587009803921569) 100%);
    border: none;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}