.bg-logo{
    background-color: #2A324B;
    height: 100%;
}

.bg-register{
    height: 100%;
    background-color: #323232;
}

img{
    width: 400px;
    height: 400px;
}

.registerPage {
    height: 100%;
    max-width: 100%;
}

.registerForm {
    width: 25em;
}