.bg-logo{
    background-color: #2A324B;
    height: 100%;
}

.bg-login{
    height: 100%;
    background-color: #323232;
}

img{
    width: 400px;
    height: 400px;
}

.loginPage {
    height: 100%;
    max-width: 100%;
}

.loginForm {
    width: 25em;
}