.bg-logo{
    background-color: #2A324B;
    height: 100%;
}

.bg-login{
    height: 100%;
    background-color: #323232;
}

.logo-medi {
    width: 400px;
    height: 400px;
}

.logo-google {
    height: 3em;
}

.logo-facebook {
    height: 5em;
    width: 5em;
}

.loginPage {
    height: 100%;
    max-width: 100%;
}

.loginForm {
    width: 25em;
}