.leftSide{
    background-color: #252045;
}

.rightSide{
    height: 100%;
    background-color: darkviolet;
}

.background{
    background-color:#252045;
    height: 100%;
}

img{
    width: 400px;
    height: 400px;
}

.loginPage {
    height: 100%;
    max-width: 100%;
}

.loginForm {
    width: 25em;
}